body{
    margin: 0;
    overflow: hidden;
}

#stopbtn{
    background-color: #800000;
    color:  #fff;
    text-align: center;    
    font-size: 14px;
    transition: .2s ease-out;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    display: inline-block;
    width: 100px;
}

#stopbtn:hover, #stopbtn:focus {
    outline: none;
	filter: none
}

#stopbtn:active {    
    transform: translateY(1px);
}

#msglog{
    opacity: 0;
    position: fixed;
    left: 10px;
    bottom: 5px;
    min-width: 200px;
    min-height: 20px;
    background-color: antiquewhite;
    border: 1px solid black;
    box-shadow: 2px 2px #666;
    border-radius: 5px;
    padding: 10px;
    transition: opacity 2s;
}

#status-bar{
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0;
    background-color:beige;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    z-index: 100;
    overflow: hidden;
}

#status-msg{
    display: inline-block;
    width: 100px;
    padding: 5px;
    margin: 0;
}

#printer-msg{
    float: right;
    height:45px;
    width:calc(100% - 240px);
    min-width: 200px;
    border: none;
    overflow:auto;
    margin: 0;
    padding: 2px;
    background-color: black;
    color: greenyellow;
}